  <div class="push"></div>
</div> <!--end wrapper -->
<div id="footer" class="footer">
    <div class="container">
        <p class="gray"><span class="glyphicon glyphicon-copyright-mark" ></span>JAMTRKR</p>
    </div>
</div>
<script src="/scripts/scripts.js"></script>
</body>
</html>


