<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <a href="/home">
                    <!-- <p class="logo white"></p> -->
                    <p class="jamtrkr">JAMTRKR</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="dropdown" id="user">
                    <button class="btn userbtn" type="button" id="loginDropdown" data-toggle="dropdown">
                        <span>
                            <img class="user-img" src="<%= user.image %>"></img>
                        </span>
                        <span class="white">Hi, <%= user.display_name %></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="loginDropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/profile">My Profile</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
