<div class="subnav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="datePicker">
                    <a href="#">
                        <p class="date white"><span class="glyphicon glyphicon-calendar" ></span>Today, October 30</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>