<div class="subnav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="date white">Today, October 30</p>
            </div>
        </div>
    </div>
</div>