<% include partials/header %>
<% include partials/nav %>

<div class="subnav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="datePicker">
                    <a href="#">
                        <p class="date white"><span class="glyphicon glyphicon-calendar" ></span>Today, October 29</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="eventList">
                <div id="eventHeader">
                    <p class="primary-color"><%= listOfEvents.length %> Events</p>
                </div>
                <% listOfEvents.forEach(function(event) { %>
                    <div id="eventItem">
                        <h5><%= event.performance[0].displayName %></h5>
                        <p><%= event.venue.displayName %></p>
                            <iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                <% }) %>
<iframe src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

            </div>

            </div>
        </div>
    </div>

<% include partials/footer %>

