<% include partials/header %>
<% include partials/nav %>
<% include partials/subnav %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Home is here..</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis dui leo. In imperdiet nunc id erat sodales accumsan. Suspendisse vel dignissim nulla. Nunc ut porta ligula, vitae porta justo. Vestibulum egestas nulla sit amet orci placerat lacinia. Pellentesque eleifend, nunc vel venenatis aliquam, quam odio dignissim eros, sed sollicitudin orci ligula sit amet urna. <a href="#">Fusce viverra</a>  libero eget mauris maximus eleifend. Duis quis leo blandit, eleifend velit at, bibendum odio. <span class="gray">Morbi dapibus vel metus id eleifend. Donec ac erat sed lectus tincidunt sollicitudin.</span>
            </p>
            </div>
        </div>
    </div>

<% include partials/footer %>