<% include partials/header %>
<% include partials/nav %>
<% include partials/subnav %>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="eventList">

        <% include partials/eventItem %>

        </div>
        <div>
          <a href="#" class="scrollToTop primary-color">Back to top</a>
        </div>
      </div>
  </div>
</div>


<% include partials/footer %>


