<% include partials/header %>
<% include partials/nav_out %>

<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="heading">
                    <h1 class="white">Preview what's coming tonight</h1>
                </div>
            </div>
            <div class="col-md4" id="login">
                <a href="/auth/spotify" class="btn btn-primary">Log in with Spotify</a>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>