<% include partials/header %>
<% include partials/nav_out %>

<div class="hero">
    <div class="container">
        <div class="row">
          <div class="head-container">
             <div class="col-md-9 col-sm-9 ">
                <div id="heading" class="white">
                    <h1>Get tonight's playlist all in one place</h1>
                    <div id="login">
                      <a href="/auth/spotify" class="btn btn-signin white">Log in with Spotify</a>
                    </div>
                </div>
            </div>
            <div class="stripe height30 col-sm-5 col-xs-3"></div>
            <div class="stripe height20 col-md-6 col-sm-9 col-xs-4"></div>

          </div>
        </div>
    </div>
    <div class="row pink-bg" >
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/artist1.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/artist2.jpg" alt=""></div>

        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/skrillex.jpg" alt=""></div>
        <div class="stripe height35 col-md-2 col-md-offset-3 col-sm-2 col-xs-2"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/chromeo.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/aluna_george.jpg" alt=""></div>
        <div class="stripe height20 col-md-3 col-sm-3"></div>
        <div class="stripe height35 col-md-2 col-sm-2 col-xs-2" style="position:absolute; z-index:100;"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/artist3.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/paul_oakenfold.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/sunpilots.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/james_lavelle.jpg" alt=""></div>
        <div class="stripe  height60 col-md-2 col-md-offset-3 col-sm-2 col-xs-2"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/supermule.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/shannon_and_the_clams.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/glitter_wizard.jpg" alt=""></div>
        <div class="stripe height20 col-md-2 col-sm-2"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/fanfare_zambaleta.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/pictureplane.jpg" alt=""></div>
        <div class="stripe height60 col-md-offset-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/the_trims.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/skrillex.jpg" alt=""></div>
        <div class="stripe  height35 col-md-2 col-sm-4 col-xs-2"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/imasu.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/rin_tin_tiger.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/extra_action.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/butchy_nasty.jpg" alt=""></div>
        <div class="stripe height20 col-md-2 col-md-offset-5 col-sm-3 col-xs-2"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/steven_diamante.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/sunpilots.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/chromeo.jpg" alt=""></div>
        <div class="stripe height35 col-md-2 col-md-offset-5 col-sm-5 col-xs-2"></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/paul_oakenfold.jpg" alt=""></div>
    </div>
</div>


<% include partials/footer %>