<% include partials/header %>
<% include partials/nav_out %>

<div class="hero">
    <div class="container">
        <div class="row">
          <div class="head-container">
             <div class="col-md-9 col-sm-9 ">
                <div id="heading" class="white">
                    <h1>Get tonight's playlist all in one place</h1>
                    <div id="login">
                      <a href="/auth/spotify" class="btn btn-signin white">Log in with Spotify</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" >
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
        <div class="images col-md-2 col-sm-3 col-xs-4 "><img class="photo" src="/images/test.jpg" alt=""></div>
    </div>
</div>


<% include partials/footer %>