body {
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}

p {
    line-height: 1.5em;
    font-weight: 400;
    font-size: 14px;
}

h5 {
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 12px;
    font-size: 16px;
}

a{
    color: rgba(225,40,90,1);
    font-weight: 500;
}
a:hover {
    color: rgba(200,15,60,1)
}
.date {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}
.hero {
    /*background-image: url(/images/lights13.jpg) ;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}

#heading {
    padding: 15px 0 25px;
    margin: 40px 0;
    border-top: solid 1px rgba(255,255,255, 0.3);
    border-bottom: solid 1px rgba(255,255,255, 0.3);
}
#heading h1 {
    font-size: 52px;
}

/* NAV */
.nav {
    height: 56px;
    width: 100%;
    background-color: rgba(0,0,0,0.85);
    padding:6px 0;
}
.logo{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 18px;
    background-color: rgba(255,255,255, 0.3);
}
.user {
    float: right;
    padding:10px 0;
}
.subnav {
    height: 36px;
    width: 100%;
    padding:4px 0;
    background-color: rgba(225,40,90,0.7);
    background: -webkit-linear-gradient(left, rgba(225,40,90,1), rgba(200,0,145,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(225,40,90,1), rgba(200,0,145,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(225,40,90,1), rgba(200,0,145,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(225,40,90,1), rgba(200,0,145,1)); /* Standard syntax */
}

.glyphicon-calendar {
    padding-right: 6px;
}

.datePicker {
    background-color: rgba(190,10,90,0.5);
    padding:4px 10px 3px;
    display: inline-block;
    border-radius: 4px;
}
.datePicker:hover {
    background-color: rgba(190,10,90,1);
    text-decoration: none;
}

.datePicker:hover a {
    text-decoration: none;
}

.jamtrkr {
    font-weight: 700;
    font-size: 22px;
    color:rgba(255,255,255, 0.3);
    margin-top: 7px;
}

/* END NAV */

/* EVENT LIST */

#eventList {
    margin-top: 20px;
}

#eventHeader {
    background-color: rgba(0,0,0,0.03);
    border-bottom: solid 1px rgba(0,0,0,0.1);
    border-top: solid 1px rgba(0,0,0,0.1);
    padding:10px 10px 0;
}

#eventItem {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    width: 100%;
    padding: 0 10px;
    display: table;
}

#eventItem:hover {
    background-color: rgba(225,40,90,0.05);
}

#eventItem p {
    margin-bottom: 0;
}

#eventItem .col-md-8 {
    padding: 0;
}

iframe {
    float: left;
    height: 80px;
    margin: 10px 0;
}

/* END EVENT LIST */

.white {
    color: white;
}

.primary-color{
    color: rgba(225,40,90,1);
}

.gray {
    color: rgba(0,0,0,0.45);
}

.footer {
    padding: 30px 0 25px;
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    margin-top: 40px;
}
.footer p {
    font-size: 12px;
    font-weight: 700;
    padding-right: 40px;
}


@media (max-width: 767px) {

.col-md-12,.col-sm-12,.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.logo, .datePicker {
    margin-left: 10px;
}

}

